@media (min-width: 750px) {
body {
   background-color: yellow;
   display: grid;
   /*grid-template-columns: 10rem auto;*/
   grid-template-rows: min-content min-content auto min-content;
   grid-template-areas:
     "navigation"
     "header"
     "content"
     "footer";
     min-height:100vh;
    }
}

h1 {
    color: yellow;
    font-family: 'Press Start 2p';
    position: center;
}

h2 {
    color: grey;
    font-family: 'Press Start 2p';
}

h3 {
    color: yellow;
    font-family: 'Press Start 2p';
}

p {
    color: red;
    font-family: 'Press Start 2P';
    text-align: center;
}

ul {
    color: yellow;
    padding: 0;
    margin: 0 auto;
}


img {
    border-radius: 30%;
    border-style: solid;
    border-width: 20px;
    border-color: yellow;
    position: center;
    max-width: 750px;
    width: 30%;
    margin: 2px auto;
    margin-bottom: 20px;
}

.navigationContainer {
    position: sticky;
    list-style: none;
    height: 100%;
    width: 100%;
    background-color: black;
    font-size: 120%;
    text-decoration: none;
    border-style: solid;
    border-color: white;
}

.headerContainer {
    background-color: white;
    text-align: center;
    padding: 20px;
    margin: 10px;
    
}

.contentContainer {
    background-color: white;
    text-align: center;
    padding: 20px;
    margin: 10px;



}

.gallery {
    text-align: center;
    font-size: 200%;
    padding: 80px;
    margin: 10 px;
    background-color: white;
}

.news {
    text-align: center;
    font-size: 200%;
    padding: 80px;
    margin: 10 px;
    background-color: white;

}

.contact {
    text-align: center;
    font-size: 200%;
    padding: 80px;
    margin: 10 px;
    background-color: white;

}

.about {
    text-align: center;
    font-size: 200%;
    padding: 80px;
    margin: 10 px;
    background-color: white;

}
.footerContainer {
    background-color: black;
    font-size: 120%;
    text-decoration: none;
    border-style: solid;
    border-color: rgb(243, 243, 214);
    
}

#footer {
    display: block;
    position: sticky;
}

#navigation a:hover {
    color: black;
    font-size: 95%;
    background: yellow;
}
 #navigation {
     position: sticky;
     top: 0; 
 }

#navigation>ul>li {
   
    padding: 20px;
    text-decoration: none;
}



.listItem a {
    color: yellow;
    font-family: 'Press Start 2P';
    list-style: none;
    color: #ffffff;
    text-decoration: none;
}
#root { 
    background-color: yellow;
}