h1 {
    color: yellow;
    font-family: 'Press Start 2p';
    position: center; 

}

h2 {
    color: grey;
    font-family: 'Press Start 2p';
}

h3 {
    color: yellow;
    font-family: 'Press Start 2p';

}

p {
    color: red;
    font-family: 'Press Start 2P';
    text-align: center;
}

ul {
    color: yellow;
}

img {
    border-radius: 30%;
    border-style: solid;
    border-color: yellow;
    max-width: 750px;
    width: 30%;
    margin: 2px auto;
    margin-bottom: 20px;
}

.navigationContainer {
    display: block;
    background-color: white;
   font-size: 120%;
   text-align: center;
   
}

.headerContainer {
    background-color: white;
    text-align: center;
}

.contentContainer {
background-color: white;
}

.footerContainer {
    background-color: black;

}



#navigation a:hover {
    color: red;
    font-size: 150%;

}

#navigation>ul>li {
    display: inline;
    list-style: none;
    font-display: center;
    
}

.listItem {
    color: yellow;
    font-family: 'Press Start 2P';
}